.container {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(7, 117, 97);
    
    font-weight: bold;
}

h2 {
    color: rgb(99, 99, 99);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}




.colors:hover {
    cursor: grab;
}

.over {
        border: 3px dotted #666;
      }


.mydiv {
    height: 200px;
    background-color: rgb(155, 18, 0);
}

.myseconddiv {
    height: 100px;
    background-color: green;
}